%titillium-300 {
  font-family: 'TitilliumWeb-Light', sans-serif;
  font-weight: 300;
}

%titillium-400 {
  font-family: 'TitilliumWeb-Regular', sans-serif;
  font-weight: 400;
}

%titillium-600 {
  font-family: 'TitilliumWeb-SemiBold', sans-serif;
  font-weight: 600;
}

%titillium-700 {
  font-family: 'TitilliumWeb-Bold', sans-serif;
  font-weight: 700;
}